.user-info{
    display: inline-block;
    margin-left: 10px;
    line-height: 15px;
    vertical-align: middle;
    font-size: 13px;
}
img{
    width: 80px;
    height: 80px;
    border-radius: 100px;
    border: none;
    vertical-align: middle;
}
p{
    font-family: Roboto;
    margin-top: 0px;
    margin-bottom: 5px;
}
.options,
.user-details{
    margin-bottom: 25px;
}
.user-manage{
    border-width: 1px;
    border-color: rgb(168, 168, 168);
    border-style: solid;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 100px;
    border-radius: 10px;
}
.account-managment{
    margin-top: 40px;
}
.account-managment,
.options{
    line-height: 27px;
}